.post {
  background: var(--blue-300);
  padding: 2.5rem;
  border-radius: 8px;
}

.post+.post {
  margin-top: 2rem;
}

.content {
  line-height: 1.6;
  color: var(--white);
  margin-top: 1.5rem;
}

.content .postTitle {
  font-weight: 700;
  color: var(--white);
  font-family: 'Caveat';
  font-size: 1.5rem;
}

.content p {
  margin-top: 1rem;
}

.content a {
  font-weight: bold;
  color: var(--yellow-500);
  text-decoration: none;
}

.content a:hover {
  color: var(--yellow-800);
}

.post>header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post>header time {
  font-size: 0.875rem;
  color: var(--white)
}

.author {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.authorInfo strong {
  display: block;
  color: var(--white);
  line-height: 1.6;
  font-family: 'Caveat';
  font-size: 1.5rem;
}

.authorInfo span {
  display: block;
  font-size: 0.875rem;
  color: var(--white);
  line-height: 1.6;
}

.commentForm {
  width: 100%;
  margin-top: 1.5rem;
  padding-top: 1.5rem;
  border-top: 1px solid var(--gray-600);
}

.commentForm>strong {
  line-height: 1.6;
  color: var(--gray-100);
  margin-bottom: 0.5rem;
}

.commentForm textarea {
  width: 100%;
  background: var(--white);
  border: 2px solid var(--coral);
  resize: none;
  height: 6rem;
  padding: 1rem;
  border-radius: 8px;
  color: var(--black);
  line-height: 1.4;
  margin-top: 1rem;
}

.commentForm footer {
  visibility: hidden;
  max-height: 0;
}

.commentForm:focus-within footer {
  visibility: visible;
  max-height: none;
}

.commentForm button[type=submit] {
  padding: 1rem 1.5rem;
  margin-top: 1rem;
  border-radius: 8px;
  border: 0;
  background-color: var(--coral);
  color: var(--yellow-800);
  font-weight: bold;
  cursor: pointer;

  transition: background-color 0.1s;
}

.commentForm button[type=submit]:hover {
  background-color: var(--yellow-800);
  color: var(--coral);
}

.commentList {
  margin-top: 2rem;
}