:root {
  --white: #ffffff;
  --black: #000000;

  --gray-100: #e1e1e6;
  --gray-300: #c4c4cc;
  --gray-400: #8d8d99;
  --gray-500: #323238;
  --gray-700: #29292e;
  --gray-800: #202024;
  --gray-900: #121214;

  --green-300: #00b37e;
  --green-500: #00875f;

  --red-500: #f75a68;
  --coral: #ED6C52;

  --blue-300: #2cb5bb;

  --yellow-500: #FEE27F;
  --yellow-800: #FCC400;

  --bege-300: #EAE3DA;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:focus {
  outline: transparent;
  box-shadow: 0 0 0 2px var(--coral);
}

body {
  background: var(--yellow-800);
  color: var(--black);
  -webkit-font-smoothing: antialiased;
}

body,
input,
textarea,
button {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 1rem;
}